root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.{bat,cmd}]
end_of_line = crlf

[*.md]
trim_trailing_whitespace = false

[*.{c,h,cpp,hpp,py,cmake,yml,yaml,json}]
trim_trailing_whitespace = true